# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
reports/

# Папка с собранными файлами проекта
build/

# Git ignore bitrix
deploy/bitrix/cache/*
deploy/bitrix/managed_cache/*
deploy/bitrix/stack_cache/*
deploy/bitrix/backup/*
deploy/bitrix/php_interface/dbconn.php
deploy/bitrix/.settings.php
deploy/bitrix/*.log
deploy/bitrix/modules/updater.log
deploy/bitrix/modules/updater_partner.log
