doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Start
            meta(name="keywords" content="")
            meta(name="description" content="")
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.css")
    body
        block header
            include header
        block content
        block footer
            include footer
        block modals
            include modals
        block scripts
            script(src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js')
            script(src='/js/main.min.js')
