// Desktop first
$mediaMobile: 575.98px;
$mediaTablet:  767.98px;
$mediaTabletHorizontal: 991.98px;
$mediaLaptop: 1199.98px;
$mediaBigScreen: 1599.98px;

// Color Scheme

// Font-size

// Font-families

// others
